.main-content.english {
  text-align: left;
  direction: ltr;
}

.main-content p {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-primary);

  font-size: 27px;
  line-height: 1.3em;
  color: #A26713;
}

.main-content p {
  font-size: 27px;
  line-height: 1.3em;
}

@media (max-width: 767px) {
  .main-content p {
    font-size: 20px;
  }

  .main-content h1 {
    font-size: 20px;
  }
}

.main-content h1 {
  padding-top: 10px;
  font-size: 27px;
  line-height: 1.3em;
  color: #339966;
  font-weight: bolder;

}

.main-content.legal p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #7A7A7A;

  font-size: 16px;
  line-height: 1.6em;
}

.main-content.legal li {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #7A7A7A;

  font-size: 16px;
  line-height: 1.6em;
}


.main-content.legal h1 {
  padding-top: 10px;
  font-size: 27px;
  line-height: 1.3em;
  color: #339966;
  font-weight: bolder;
}

.main-content.legal h2 {
  padding-top: 10px;
  font-size: 23px;
  line-height: 1.3em;
  color: #339966;
  font-weight: bolder;
}