.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}

.top-section a {
  text-decoration: none;
  color: inherit;
}

personal-details-item {
  margin: 0px;
}

.personal-details {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.personal-details-1 {
  margin: 0px;
  font-size: 28px;
  font-weight: 700;
  color: #71491C;
  line-height: 1;
}

.personal-details-2 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #B88245;
}

.personal-details-3 {
  margin: 0px;
  font-size: 16px;
}

.personal-details-4 {
  margin: 0px;
  font-size: 28px;
  line-height: 1;
}

.personal-details-4 a {
  margin: 0px;
  color: #8F683D;
  font-weight: 600;
}

.personal-details a {
  text-decoration: none;
}

.profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.contact-list a {
  text-decoration: none;
}

.contact-list-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-address {
  color: #61CE70;
  font-size: 20px;
  font-weight: 600;
}

.contact-item-icon i {
  color: #A47923;
  transition: color 0.3s;
}

.contact-item-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #23A455;
  transition: color 0.3s;
}