<form action="https://formkeep.com/f/32320b6e0f08" accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <label for="name">שם</label>
  <input type="text" id="name" name="name" required>
  <label for="email-address">מייל</label>
  <input type="email" id="email-address" name="email">
  <label for="phone">טלפון</label>
  <input type="tel" id="phone" name="phone">
  <button type="submit">שלח</button>
</form>