<header
  class="top-section">
  <!-- Header for the personal details and contact information (using bootstrap classes) -->
  <div class="container">
    <div class="row align-items-start justify-content-center g-4">
      <div class="col-md-4 g-4">
        <div class="personal-details">
          <p class="personal-details-1 text-center text-md-end">{{ site.personal.name }}</p>
          <p class="personal-details-2 text-center text-md-end">{{ site.personal.title }}</p>
          <p class="personal-details-3 text-center text-md-end">{{ site.personal.registration }}</p>
          <p class="personal-details-4 text-center text-md-end">
            <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }}</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block g-4">
        <div class="profile-logo">
          <img src="/images/logo.png" alt="Ayelet Schlesinger's logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-info">
          <div class="row pb-2">
            <ul class="contact-list">
              <li class="contact-item">
                <a href="mailto:{{ site.contact.email }}">
                  <span class="contact-item-icon">
                    <i aria-hidden="true" class="fas fa-mail-bulk"></i>
                  </span>
                  <span class="contact-item-text">Email</span>
                </a>
              </li>
              <li class="contact-item">
                <a href="{{ site.socials.whatsapp }}">
                  <span class="contact-item-icon">
                    <i class="fa-brands fa-whatsapp"></i>
                  </span>
                  <span class="contact-item-text">WhatsApp</span>
                </a>
              </li>
              <li class="contact-item">
                <a href="{{ site.contact.waze }}">
                  <span class="contact-item-icon">
                    <i class="fa-brands fa-waze"></i>
                  </span>
                  <span class="contact-item-text">Waze</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="row">
            <p class="contact-address text-center">{{ site.contact.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>