<nav class="navbar navbar-expand-lg">
  <div class="container justify-content-center d-flex flex-column align-items-center">
    <div class="navbar-border py-2">
      <div class="d-flex justify-content-center">
        <button
          class="navbar-toggler mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-column flex-md-row justify-content-center">
          {% for item in navigation %}
            <li class="nav-item">
              <a class="nav-link px-3 d-md-none hover-bg-danger {% if page.url == item.url %}bg-danger{% endif %}" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
              {% if page.url == item.url %}
                <style>
                  .bg-danger {
                    background-color: var(--bs-gray-800) !important;
                    color: var(--bs-gray-100) !important;
                  }
                  .hover-bg-danger:hover {
                    background-color: var(--bs-gray-800) !important;
                    color: var(--bs-gray-100) !important;
                  }
                </style>
              {% endif %}
              <!-- For larger screens, use a different class to avoid the hover effect -->
              <a class="nav-link px-3 d-none d-md-block {% if page.url == item.url %}active{% endif %}" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>